<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coronavirus">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icone"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Creditos"
            android:screenOrientation="locked"
            >
        </activity>
        <activity
            android:name=".MenuGeral"
            android:screenOrientation="locked"></activity>
        <activity
            android:name=".Sintomas"
            android:screenOrientation="locked" />
        <activity
            android:name=".cuidados"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>